footer {
  background-color: $background-color_1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  p {
    color: $color_1;
    margin-left: 30px;
  }
}